extends ../layout

block content
  .container.mt-4
    //////////////
    // PERFIL
    /////////////
    .row.mb-4.align-items-center
      .col-md-3.text-center
        img(src="/img/default-avatar.jpg" width="120" style="border-radius:50%")

      .col-md-9
        h3 @#{usuarioLogueado.nombre}
        p #{usuarioLogueado.bio || "Esta es la descripcion."}
        button.btn.btn-primary Editar perfil

    hr
    //////////////
    // BOTONES
    /////////////
    .row.mb-4.text-center
      .col
        a.btn.btn-outline-primary(href="/perfil?seccion=publicaciones") Mis publicaciones
      
      .col
        a.btn.btn-outline-warning(href="/perfil?seccion=seguidos") Seguidos
      
      .col
        a.btn.btn-outline-secondary(href="/perfil?seccion=colecciones") Colecciones
      
      .col
        a.btn.btn-outline-success(href="/perfil?seccion=intereses") Intereses
      
      .col 
        a.btn.btn-outline-dark(href="/perfil?seccion=chat") Chat
    

    // CONTENIDO
    .row

      if seccion === "colecciones"
        h4 Mis colecciones
        .col-12
          .alert.alert-info.text-center.mt-3 No tienes colecciones

      else if seccion === "intereses"
        h4 imagenes que me interesan adquirir

        if intereses && intereses.length > 0
          each img in intereses
            p Imagen interesada
        else
          .col-12
            .alert.alert-info.text-center.mt-3 No tienes intereses

      else if seccion === "chat"
        h4 Chats

        if chats && chats.length > 0
          each chat in chats
            p Chat con #{chat.usuario}
        else
          .col-12
            .alert.alert-info.text-center.mt-3 No tienes chats

      else if seccion === "seguidos"
        h4 Publicaciones de personas que seguis

        if publicacionesSeguidos && publicacionesSeguidos.length > 0
          each pub in publicacionesSeguidos
            include ../partials/card.publicacion.pug
        else
          .col-12
            .alert.alert-info.text-center.mt-3 No sigues a nadie o aun nadie publica

      else
        h4 Mis publicaciones

        if misPublicaciones && misPublicaciones.length > 0
          each pub in misPublicaciones
            include ../partials/card.publicacion.pug
        else
          .col-12
            .alert.alert-info.text-center.mt-3 No tienes publicaciones
            
            button.btn.btn-success.mt-2(type="button" data-bs-toggle="modal" data-bs-target="#modalCrearPublicacion" jutify-content.center) Crear primera publicacion