extends ./layout

block content
  .container.mt-4

    // Perfil
    .row.mb-4.align-items-center
      .col-md-3.text-center
        img(src="/img/default-avatar.jpg", width="120", style="border-radius:50%")
      
      .col-md-9
        h3 @#{usuarioLogueado.nombre}
        p #{usuarioLogueado.descripcion} || Esta es la descripción del usuario.

        button.btn.btn-primary Editar perfil

    hr

    // Botones de navegación
    .row.mb-4.text-center
      .col
        button.btn.btn-outline-primary(href="/perfil?seccion=publicaciones") Mis publicaciones
      
      .col
        button.btn.btn-outline-secondary(href="/perfil?seccion=colecciones") Favoritos
      
      .col
        button.btn.btn-outline-success(href="/perfil?seccion=intereses") Intereses
      
      .col 
        a.btn.btn-outline-dark(href="perfil?seccion=chat") Chat
    
    
    // Publicaciones (por defecto)
    .row
      if seccion === "colecciones"
        h4 mis colecciones 
      else if seccion === "intereses"
        h4 imagenes que me interesan comprar 
      else if seccion === "chat"
        h4 chats 
      else 
        h4 mis publicaciones


      include ../partials/card.publicacion.pug
      include ../partials/card.publicacion.pug
      include ../partials/card.publicacion.pug
      include ../partials/card.publicacion.pug