.col-12.col-sm-6.col-md-4
  .card.shadow-sm.h-100.publicacion-card
    .card-body
      //- nombre
      .d-flex.align-items-center.mb-1
        a.text-decoration-none.small.fw-bold.text-primary(href="#") 
          | @usuario_demo
          
      //-titulo
      h6.card-title.mb-1 Título de la Imagen

      //-descripcion
      p.card-text.text-muted.small.mb-3
        | Esta es una descripción de ejemplo para cumplir con los requisitos del proyecto Fotaza 2.

    //- imagenes
    .position-relative
      img.card-img-top(
        src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=1000&auto=format&fit=crop" 
        alt="Imagen publicación"
        style="height: 250px; object-fit: cover;"
      )

    //- botones obligatorios para regularizar el tp
    .card-footer.bg-white.border-top-0.pt-3
      .d-flex.justify-content-between.gap-1.mb-2
        //-  puntuar
        button.btn.btn-sm.btn-outline-primary.flex-fill(type="button" title="Puntuar imagen")
          | Puntuar
        
        //- boton para Sistema de comentarios 
        button.btn.btn-sm.btn-outline-secondary.flex-fill(type="button" title="Comentar publicación")
          |  Comentar
        
        //-  Boton Me interesa 
        button.btn.btn-sm.btn-outline-success.flex-fill(type="button" title="Notificar interés al autor")
          |  Interés

      //- boton denuncia: 
      .d-grid
        button.btn.btn-sm.btn-link.text-danger.text-decoration-none(type="button" title="Denunciar esta publicación")
          |  Reportar contenido


    //Foto de perfil al lado del nombre
    //necesito hacer un carrusel porque una publicacion puede tener varias imagenes
    //No se como hacer para que se vean los comentarios, es dentro de la misma card?