#modalRegistro.modal.fade(tabindex="-1" aria-labelledby="modalRegistroLabel" aria-hidden="true")
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h5#modalRegistroLabel.modal-title Crear tu cuenta en Fotaza 2
        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        //- Agregamos enctype para que soporte el envío de la foto
        form(action="/usuarios/registro" method="POST" enctype="multipart/form-data")
          .mb-3
            label.form-label Correo electrónico
            input.form-control(type="email" name="email" placeholder="correo@gmail.com" required)
          
          .mb-3
            label.form-label Nombre Usuario
            input.form-control(type="text" name="nombre_usuario" placeholder="Ingrese nombre de usuario" required)
          
          //- Nuevo campo para Foto de Perfil
          .mb-3
            label.form-label(for="fotoPerfil") Foto de perfil
            input#fotoPerfil.form-control(type="file" name="foto_perfil" accept="image/*")
            .form-text Formatos permitidos: JPG, PNG, WebP.

          .row.mb-3
            .col
              label.form-label Contraseña
              input.form-control(type="password" name="password" required)
            .col
              label.form-label Repetir
              input.form-control(type="password" name="passwordConfirm" required)
          
          .mb-3
            label.form-label ¿De donde eres?
            input.form-control(list="paises" name="pais")
            datalist#paises
              option(value="Argentina")
              option(value="Chile")
              option(value="Brasil")
          
          .d-grid
            button.btn.btn-primary(type="submit") Registrarse