#modalIniciarSesion.modal.fade(tabindex="-1" aria-labelledby="modalIniciarSesionLabel" aria-hidden="true")
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        h5#modalIniciarSesionLabel.modal-title Iniciar Sesion
        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
      .modal-body
        form#formLogin
          .mb-3
            label.form-label Usuario
            input.form-control(type="text" name="nombre" placeholder="Usuario" required)
          .mb-3
            label.form-label Contraseña
            input.form-control(type="password" name="contrasena" id="passwordLogin" required)
          .d-grid
            button.btn.btn-primary(type="submit") Iniciar Sesion